<h2>Alta producto</h2>

Codigo: <input type="number" [(ngModel)]="producto.codigo"><br>
Nombre: <input type="text" [(ngModel)]="producto.nombre"><br>
Categoria: 
<select [(ngModel)]="producto.categoria">
    <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria}}</option>
</select><br>
Descripcion: <input type="text" [(ngModel)]="producto.descripcion"><br>
Fecha: <input type="date" [(ngModel)]="producto.fechaAlta"><br>
Precio: <input type="number" [(ngModel)]="producto.precio"><br>
Descatalogado: <input type="checkbox" [(ngModel)]="producto.descatalogado"><br>
<button (click)="crear()">Crear</button>
