<h2>Lista de Productos</h2>

<table *ngIf="productos">
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Descatalogado</th>
        <th>Fecha alta</th>
        <th>Precio</th>
    </tr>
    <tr *ngFor="let producto of productos">
        <td>{{producto.codigo}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.categoria}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.descatalogado}}</td>
        <td>{{producto.fechaAlta | date}}</td>
        <td>{{producto.precio}}</td>
    </tr>
</table>
