<!--<h2>Lista de Productos</h2>

<table *ngIf="productos">
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Descatalogado</th>
        <th>Fecha alta</th>
        <th>Precio</th>
        <th>Editar</th>
    </tr>
    <tr *ngFor="let producto of productos">
        <td>{{producto.codigo}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.categoria}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.descatalogado}}</td>
        <td>{{producto.fechaAlta | date}}</td>
        <td>{{producto.precio}}</td>
        <td><a routerLink="/editProducto/{{producto.codigo}}">edit</a></td>
    </tr>
</table>
-->
<!--                  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM           -->

<h3 class="first">Lista de roductos</h3>
<p-virtualScroller [value]="productos" scrollHeight="600px" [itemSize]="220" 
        ><!--[rows]="productos.length" [cache]="false" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalProductosLength"-->
    <p-header>
        Lista de productos
    </p-header>
    <ng-template let-producto pTemplate="item" let-i="index">
        <div class="ui-g producto-item">
            <div [ngClass]="{'descatalogadoTrue': producto.descatalogado}" class="ui-g-12 ui-md-1 descatalogadoFalse">
                <div style="font-size: 24px; text-align: center; padding-top: 80px">{{producto.codigo}}</div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <img class="imagen" src="assets/{{producto.categoria}}.png">
            </div>
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">

                    
        
                    <div class="ui-g-2 ui-sm-6">Producto: </div>
                    <div class="ui-g-10 ui-sm-6">{{producto?.nombre}}</div>
        
                    <div class="ui-g-2 ui-sm-6">Categoria: </div>
                    <div class="ui-g-10 ui-sm-6">{{producto?.categoria}}</div>

                    <div class="ui-g-2 ui-sm-6">Precio: </div>
                    <div class="ui-g-10 ui-sm-6">{{producto?.precio | currency:'EUR'}}</div>
                    <!--
                    <div class="ui-g-2 ui-sm-6">Descatalogado: </div>
                    <div class="ui-g-10 ui-sm-6">{{producto?.descatalogado}}</div>
                    -->
                    <div class="ui-g-2 ui-sm-6">Fecha de Alta: </div>
                    <div class="ui-g-10 ui-sm-6">{{producto?.fechaAlta | date}}</div>
        
                    <div class="ui-g-2 ui-sm-6">Descripcion: </div>
                    <div class="ui-g-10 ui-sm-6">{{producto?.descripcion}}</div> 

                    <div *ngIf="producto.descatalogado" class="ui-g-2 ui-sm-6" style="color: red">Descatalogado</div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-1" style="padding-top: 80px">
                <a routerLink="/editProducto/{{producto.codigo}}">edit</a>
            </div>
        </div>
    </ng-template>
    
</p-virtualScroller>

<!--
    <ng-template let-car pTemplate="loadingItem">
        <div class="ui-g car-item empty-car-item">
            <div class="ui-g-12 ui-md-2">
                <div class="empty-car-item-index"></div>
            </div>
            <div class="ui-g-12 ui-md-2">
                <div class="empty-car-item-image"></div>
            </div>
            <div class="ui-g-12 ui-md-8">
                <div class="ui-g">
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                    <div class="ui-g-12"><div class="empty-car-item-text"></div></div>
                </div>
            </div>
        </div>
    </ng-template>
-->